asn1crypto==0.24.0
awscli==1.16.17
boto3==1.9.8
botocore==1.12.8
cffi==1.11.5
colorama==0.3.9
cryptography==2.3.1
dj-database-url==0.5.0
Django==2.1.11
django-cors-headers==2.4.0
django-rest-knox==3.1.5
django-storages==1.7.1
djangorestframework==3.8.2
docutils==0.14
gunicorn==19.9.0
idna==2.7
jmespath==0.9.3
psycopg2==2.7.5
psycopg2-binary==2.7.5
pyasn1==0.4.4
pycparser==2.19
pydub==0.22.1
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
urllib3==1.23
whitenoise==4.1
